<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" th:action="@{/processForm}" th:object="${customer}">
        First Name: <input type="text" th:field="*{firstName}"/>
        <br><br>
        First Name: <input type="text" th:field="*{lastName}"/>

        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="errors"></span>
        <br><br>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>